.button {
    padding:.5rem 1rem;
    margin: 0 1rem;
    font-family: inherit;
    border:1px solid #999999;
    color: #ffffff;
}
.button[disabled] {
    border:1px solid #ccc;
    background-color: #ccc;
    pointer-events: none;
}

.button-primary {
    background-color:#7B68EE;

}
.button-primary:hover {
    background-color: #4835bb;
}

.button-secondary {
    background-color: #3CB371;
}
.button-secondary:hover {
    background-color: #098040;
}

.button-ghost {
    background-color: transparent;
    border:1px solid currentColor;
    color: #7B68EE;
}

.button-text {
    background-color:transparent;
    color: inherit;
    border:0;
}

